.contatos {
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icones {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 1rem;
    overflow: hidden;
}

.icone {
    font-size: 3rem;
    color: var(--red);
    position:absolute;
    transition: filter, transform 0.2s;
    cursor: pointer;
}

.icone:hover{

    filter: blur(1px);
    transform: scale(1.1);
}